// COLOR VARIABLES

$color-primary: #00b1de;
$color-secondary: #2a4365;
$color-tertiary: #116ebf;
$color-quatinary: #0d5184;
$light-background: #f7fafc;
$light-heading: #2a4365;
$dark-heading: #ebf8ff;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-white: #fff;
$color-black: #000;
$color-red: red;

// FONT VARIABLES

$font-primary: "Josefin Sans", sans-serif;
$default-font-size: 1.6rem; // haven't used yet
