//////////////////////////
////// SIDE BAR

.sidebar {
  grid-column: sidebar-start / sidebar-end;
  grid-row: 2 / -1;
  font-size: 1.4rem;
  list-style: none;
  background-color: $color-grey-dark-1;
  //   margin-top: 3.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 800px) {
    grid-column: sidebar-start / full-end;
    grid-row: -1 / span 1;
    background-color: $color-quatinary;
  }
}

.side-nav {
  list-style: none;
  margin-top: 2rem;

  @media (max-width: 800px) {
    display: none;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__item:before {
    content: ""; // you have to specify or it wont show in browser
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: $color-secondary;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s; //.2s for width is delay
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: $color-tertiary;
  }

  &__link:link,
  &__link:visited {
    color: $color-grey-light-1;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    // to make font on top
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;

    @media (max-width: 1050px) {
      padding: 1rem 2rem;
    }
  }

  &__icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;

    @media (max-width: 820px) {
      margin-right: 1rem;
    }
  }
}

.legal {
  margin: 1.5rem;
  text-align: center;
  color: $color-grey-light-1;
}
