.details {
  padding: 2.5rem 0 3.5rem 0;
  margin: 0 4rem;
  background-color: $color-white;

  border-bottom: 1px solid $color-grey-light-2;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &__text {
    grid-column: 1 / span 2;
    width: 100%;

    @media (max-width: 800px) {
      grid-column: 1 / -1;
    }
  }

  &__btns {
    grid-column: 3 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    @media (max-width: 800px) {
      grid-row: 2 / span 1;
      grid-column: 1 / -1;
      align-items: center;
    }
  }

  &__icon-location {
    height: 1.75rem;
    width: 1.75rem;
    fill: $color-primary;

    &:hover,
    &:active {
      fill: $color-white;
    }
  }

  &__location {
    display: flex;
    align-items: center;
  }
}
