ion-icon[name="logo-facebook"]:hover {
  color: #3b5998;
}

ion-icon[name="logo-twitter"]:hover {
  // color: #00aced;
  color: #fff;
}

ion-icon[name="logo-google"]:hover {
  color: #dd4b39;
}

ion-icon[name="logo-instagram"]:hover {
  color: #517fa4;
}
