.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.795);
  z-index: 9999;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &__content {
    @include absCenter;

    width: 50%;
    height: 80%; // delete ltr.. for testing purposes
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 2rem 4rem black;
    border-radius: 3px;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.2s 0.5s;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr repeat(4, 1fr);
  }

  // Open state
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark-2;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }
}

///////////////////////////////
// Content Organization

.popup {
  &__header {
    text-align: center;
    align-self: end;
    padding-bottom: 4.5rem;

    grid-row: 1 / span 1;
    grid-column: 1 / span 2;

    &--primary {
      display: block;
    }

    &--secondary {
    }
  }

  &__entry {
    width: 95%;
    margin: 0 auto 1rem auto;

    display: flex;
    flex-direction: column;

    & label[for="name"],
    label[for="email"],
    label[for="message"] {
      &::after {
        content: "*";
        color: $color-red;
        padding-left: 0.2rem;
      }
    }
  }

  &__message {
    grid-column: 1 / span 2;
    width: 98%;
    // margin: -4rem auto 3rem auto;
  }
}

input[placeholder="Your name"],
input[placeholder="Your email address"],
input[placeholder="Your arrival date"],
input[placeholder="Your departure date"],
textarea[placeholder="What are your plans?"] {
  font-family: $font-primary;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.8rem;
  border-radius: 3px;
  border: 1px solid $color-grey-light-4;
}

textarea {
  height: 10rem;
  margin-bottom: 0;
}

.popup__btn {
  grid-column: 2 / span 1;
  justify-self: end;
  margin-top: 1rem;
}
